body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse{
    background-color : #0F3DB5;
}

body nav ul ul {
    display: none;
    position: absolute;
    width: 100%;
    background: #5C87B2;
    border-top: 5px solid #5C87B2;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

    body nav ul ul li a {
        line-height: 3.1em;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
